Библиотеки python:
random - генерация лабиринта
numpy - создание изображения лабиринта
tkinter - создание графического интерфейса
collections - для поиска пути между клетками лабиринта 
datetime - для сохранения файла с названием по текущему времени
